*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
   
}

-------section1-------

.section1{
    width: 100%;
    background-color:rgb(248, 250, 250);
    width: 100%;
    background-position: center;
    box-sizing: cover;
    position: relative;
}
 
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width:150px;

}
.nav links{
    flex:1;
    text-align: center;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-left: 60px;
}
.nav-links ul li a{
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content:'';
    width:0%;
    height: 2px;
    background: #09c218;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width:100%;
}

.section1 button{
    margin-left: 80%;
    margin-bottom: 30px;
    
}
@media(max-width: 700px){
   
}
------------section2--------


.section2 img{
    background-image: url(images/bg-intro-desktop.svg);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
--------section3------


.section3{
    background-color:rgb(247, 244, 244);
    padding: 80px;
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
------section4--------

.section4 .row
{
    justify-content: space-evenly;
    margin-bottom: 20px;

}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
-------footer------

footer .row{
    background-color:rgb(15, 3, 41);
    color: #fff;
    padding: 50px;
}
footer button{
    margin-bottom: 15px;
}
footer img{
    margin-bottom: 20px;
}

footer li{
    padding: 7px;
}








