*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
   
}

-------section1-------
.section1 {
    margin: 0;
    background-color: rgb(248, 250, 250);
    padding-top: 20px;
}

.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 0 15px;
    position: relative;
    margin-top: -25px;

}

.nav-links ul li a {
    text-decoration: none;
    font-size: 15px;
}

.logo {
    float: right;
}

.request {
    border-radius: 45px;
    padding: 5px 20px;
}

------------section2--------

.section2 {
    width: 100%;
}

.description {
    padding-top: 170px;
}
.section2 img{
    background-image: url(images/bg-intro-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

--------section3------
.section3{
    background-color:rgb(247, 244, 244);
    padding: 80px;
}


------section4--------
.section4 .row{
    justify-content: space-evenly;
    margin-bottom: 20px;

}

-------footer------

section.section5 {
    background: purple;
    padding: 50px;
    margin-bottom: 0;
    margin-top: 20px;
}

footer .row{
    background-color:rgb(15, 3, 41);
    color: #fff;
    padding: 50px;
}

footer button{
    margin-bottom: 15px;
}
footer img{
    margin-bottom: 20px;
}

footer li{
    padding: 7px;
}

/* --------- media queries ----------- */
@media screen and (max-width: 990px){
    body {
        background: orange;
    }
}






